{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titatnium Typewriter{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Vue via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Include axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- stylesheet -->
    <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- Google's icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/0cc09580ea.js" crossorigin="anonymous"></script> <!-- Fontawesome-->
    <script src="{% static 'js/app.js' %}" defer></script> <!-- include JS file with relative path from static folder-->
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <!-- <script src="https://kit.fontawesome.com/0cc09580ea.js" crossorigin="anonymous"></script> -->
</head>


<body>
    {% csrf_token %}
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>