<body>

    {% extends 'base.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
    <div id="app">


        <label for="textbody">Enter Text:</label>
        <br/>
        <textarea v-model="textArea" v-on:keyup="countText()" id="user-text" name="user-text" rows="10" cols="70"></textarea> 
        <div>Total words: [[ dailyWC ]]</div>
        <div class="shell">
            <!-- hardcoded value that I have to take out -->
            <div class="bar" :style="{ width: [[ calcProgress ]] + '%' }">
              <span>[[ progress ]]%</span>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}


</body>