{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

    <div id="app">
        <p><a href="{{ user.id }}"><i class="fa-regular fa-pen-to-square"></i> Statistics page</a></p>
        <input type="text" value="{{ user.id }}" name="userid" hidden>


        <div class="scrolling-wrapper">
            <div class="date-card" v-for="date in week">
                <p>
                    [[ date.toLocaleDateString("en-US", { weekday: "short"}) ]]
                </p>
    
                <p>
                    [[ date.toLocaleDateString("en-US", { month: "numeric", day: "numeric" }) ]]
                </p>
    
                <p>
                    WC: [[ wcByDay[week.indexOf(date)].todays_wc ]]
                </p>
    
                <p v-if=" [[ wcByDay[week.indexOf(date)].todays_wc ]]> 0">
                    <button @click="wcView(wcByDay[week.indexOf(date)].id)">Display</button><br> <!-- Passing wc.id as params -->
                   <!-- If there is actual data attached to the retrieved object, then you can hit the button to load it onto the page.-->
                </p>
            </div>
        </div>

        <div id="top-nav">
            this is inside the nav/
            <div id="content">
                <p>This is the content-container</p>
                
                <a href="#modal1"><span class="material-icons">menu</span></button>
                
                <div id="modal1">
                    <div class="modal-container">
                        <p><a href="#">Close</a></p>
                        <p class="header-modal">Settings</p>
                        Hi {{ user.username }}!
                        <p>Daily wordcount goal:</p>
                        <p><input type="number" v-model="dailyGoal" placeholder="Text"/> words</p>
                        <p>Today's wc progress:</p>
                        <p v-if=" [[ dailyGoal ]] > 0">[[ dailyWC ]]/[[ dailyGoal ]] word(s)</p>
                        <p v-else>[[ dailyWC ]] word(s)</p> <!-- Add some edgecasing for if the # is > 1 (word/words)-->
                        <p>Your total progress:</p>
                        <p>[[ allWcs ]] words</p>
                        <p><a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="shell">
            <div class="bar" :style="{ width: [[ calcProgress ]] + '%' }">
                <span>[[ progress ]]%</span>
            </div>
        </div>

        <!-- needs to have an endpoint that is just today's text blob. -->
        <div class="text-field">
            <textarea v-model="textArea" v-on:keyup="countText()" id="user-text" :csrftoken="csrfToken" name="user-text" rows="10" cols="70"></textarea> 
            <div class="wordcount">[[ dailyWC ]] words</div>
        </div>

        <div id="bottom-nav">

            <div id="project-content">
                <!-- This is the content-container for second modal -->
                <!-- When the user creates a new word count, you can either include a dropdown with all the available projects for them to select from,
                or allow them to enter a new project name. -->
                <!-- Project Selection Form -->
                <div class="form-wrap">
                    <label>Project:</label>
                    <form>
                        <select id="project" v-model="selectedProject">
                            <!-- v-model will ignore the initial value, checked or selected attributes found on any form elements. It will always treat the Vue instance data as the source of truth.  -->
                            <option v-for="project in projects" :value="project.id">
                                [[ project.name ]]
                            </option>
                        </select>
                    </form>
                </div>

                <a href="#modal2"><span class="material-symbols-outlined">library_add</span></button>
                
                <div id="modal2"><a href="#">Close</a>
                    This is the second modal
                    <div class="modal-container">
                        <form>
                            <label for="newProject" class="header-modal">Create Project:</label><br>
                            <input type="text" id="newProject" v-model="newProjectName"><br>
                            <input type="date" id="newProject" v-model="newProjStartDate"><br>
                            <input type="date" id="newProject" v-model="newProjEndDate"><br>
                            <input type="number" id="newProject" v-model="newProjWcGoal"><br>
                            <button @click.prevent="createProject">Create</button><br>
                        </form>
                    </div>
                </div>
            
        </div>

        <div>
            <button @click="createUpdate(wcId)">Save</button>
        </div>
        </div>

        {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log In</a></p>
        <p><a href="{% url 'signup' %}"><i class="fa-regular fa-pen-to-square"></i> Sign Up</a></p>
        {% endif %}


    </div>
    {% endblock %}