{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="app">
    <input type="text" value="{{ user.id }}" name="userid" hidden>
    <p><a href="/#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Home</a></p>


    <br>
    Username: {{ user }}<br>
    TOTAL WC: [[ allWcs ]]<br>

    <h1>Projects:</h1>
    <ul v-for="project in projects" >
        <li><h2>[[ project.name ]]</h2></li>
        <li>Started on: [[ project.start_date | formatDateYear ]]</li>
        <li>End date: [[ project.end_date | formatDateYear ]]</li>
        <span v-for="wc in wordcounts" >
            <li v-if="wc.project == project.id">
                [[ wc.todays_wc ]] words written on [[ wc.date | formatDate ]]
            </li>
        </span>
        <hr>
    </ul><br>

    <h1>Word counts:</h1>
    <ul v-for="wc in wordcounts" > <!-- .reverse so most recent item shows up on top -->
        <li>
            [[ wc.todays_wc ]] words on [[ wc.date | formatDate ]] with a daily goal of [[ wc.daily_goal ]]
        </li>
    </ul>



    </p> 
</div>

{% endblock %}
